Dear {{ name }},<br>
Thank you for signing up! To confirm your email address, please click the link below<br>
<br>
{% comment %} <a href="https://api.telepsycrx.com/validate/?email={{ email }}&code={{ code }}" style="font-size: 14px; margin: 10px 5px; width: 200px; padding: 15px; color: white; text-decoration: none; background-color: #3f51b5"> {% endcomment %}
{% comment %} <a href="http://localhost:3000/?email={{ email }}&code={{ code }}" style="font-size: 14px; margin: 10px 5px; width: 200px; padding: 15px; color: white; text-decoration: none; background-color: #3f51b5"> {% endcomment %}
<a href="http://localhost:3000/{{ email }}/{{ code }}" style="font-size: 14px; margin: 10px 5px; width: 200px; padding: 15px; color: white; text-decoration: none; background-color: #3f51b5">
    Confirm My Email
</a>
<br>
<br>
<i>This code will expire in 30 minutes.</i><br>
