Hi {{ patient }},<br>
<br>
Welcome to TelePsycRX inspirational qoutes! 
        Our inspirational qoutes are sent to your phone via text message at the duration of your choice.
    The duration you have chosen is {% comment %} {{daily, weekly}} {% endcomment %}
    We care very much for your well being and offer this service to help you get the right start to your {% comment %} {{daily, weekly}} {% endcomment %}. 
    If at any time you decide that you no longer need or want this service simply text STOP.
    Until that time, we are happy to serve you as best we can. 
<br>
{% comment %} Your Appointment <a href="https://telepsycrx.com">https://telepsycrx.com</a><br> {% endcomment %}
